.storybook-selectBox {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
}

.storybook-selectBox--small {
  font-size: 12px;
  padding: 10px 16px;
}
.storybook-selectBox--medium {
  font-size: 14px;
  padding: 11px 20px;
}
.storybook-selectBox--large {
  font-size: 16px;
  padding: 12px 24px;
}
